.back-side-card {
  position: relative;
  top: 20px;
  right: 155px;
  z-index: 0;
}
.back-side-card__wrapper {
  padding: 0;
}
.card__CVV {
  display: block;
  float: right;
  margin-right: 32px;
  margin-left: 27px;
  margin-bottom: 5px;
}
#card-cvv {
  float: right;
  margin-right: 20px;
  height: 40px;
  width: 138px;
  border: 1px solid rgb(228, 233, 238);
}
.strip__wrapper {
  margin-top: 25px;
  margin-bottom: 13px;
}
.back-side-card__magnetic-strip {
  margin: 0;
  border: none;
  height: 42px;
  background-color: #e4e9ee;
  color: #e4e9ee; /* Цвет линии для IE6-7 */
}
.cvv-hint {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(228, 233, 238);
  position: absolute;
  left: 296px;
  bottom: 104px;
  border-radius: 13px;
  cursor: pointer;
}
.cvv-hint--item {
  padding-left: 7px;
  color: rgb(228, 233, 238);
}