.main-nav {
  width: 322px;
  display: flex;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #1f2229;
}
.site-list__item {
  padding: 25px 30px 25px 30px;
}
.site-list__item:hover {
  background-color: #2a2d37;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.5s ease;
}
.site-list__link {
  font-family: "OpenSans", serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.333;
  color: white;
  text-decoration: none;
}
.site-list__link:hover {
  color: #808592;
}
.site-list__item--active {
  background-color: #2a2d37;
}
.site-list__item--user {
  background-color: #191c24;
}
.site-list__link--active,
.site-list__link--logout {
  color: #808592;
}


