/*common*/
.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.cards__wrapper {
  display: flex;
}
.card {
  width: 350px;
  border: 1px solid rgb(228, 233, 238);
  border-radius: 10px;
  height: 230px;
}
.card__text {
  display: block;
  padding-bottom: 10px;
}
/*header*/
.payment-form__header {
  height: 80px;
}
.payment-form__header--item {
  color: rgb(56, 61, 67);
  margin: 0;
  padding-top: 25px;
  font-size: 19px;
  font-family: "OpenSans", sans-serif;
}
/*card number*/
.input {
  width: 59px;
  margin-right: 10px;
}
.card-number__wrapper {
  padding: 25px 15px;
}

.card-number__inputs {
  display: flex;
  height: 42px;
  justify-content: left;
  width: 100%;
}

/*card expiration*/
.card-expiration-date {
  padding-left: 15px;
  padding-bottom: 13px;
}

/*card name*/
/*card cvv2*/
.back-side-card__magnetic-strip {
  margin-top: 27px;
  border: none;
  height: 42px;
  background-color: #e4e9ee;
  color: #e4e9ee; /* Цвет линии для IE6-7 */
}


