.payment-info__table {
  border: none;
  border-collapse: collapse;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: rgb(83, 88, 100);
}
.table-heading {
  height: 36px;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}
.table-item {
  width: 133px;
}
.table-value {
  color: black;
}
