/*common*/
.fieldset {
  border: none;
  padding-left: 15px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.cards__wrapper {
  display: flex;
}
.card {
  width: 350px;
  border: 1px solid rgb(228, 233, 238);
  border-radius: 10px;
  height: 240px;
  margin-bottom: 30px;
  background-color: #f7f8f8;
}
.card__text {
  display: block;
  padding-bottom: 5px;
  font-family: "Arial", sans-serif;
}
.front-side-card {
  z-index: 1;
}
.card-expiration-date {
  padding: 0 15px;
}

/*header*/
.payment-form__header {
  height: 80px;
}
.payment-form__header--item {
  color: rgb(56, 61, 67);
  margin: 0;
  padding-top: 25px;
  font-size: 19px;
  font-family: "OpenSans", sans-serif;
}
/*card number*/
.card-number__wrapper {
  padding-top: 24px;
}
.input {
  width: 59px;
  margin-right: 10px;
  border: 1px solid rgb(228, 233, 238);
  outline: none;
}
.card-number__inputs {
  display: flex;
  height: 42px;
  justify-content: left;
  width: 100%;
}
.card-number__inputs--item,
.card-cvv__input{
  -moz-appearance: textfield;
}
.card-number__inputs--item::-webkit-inner-spin-button,
.card-number__inputs--item::-webkit-outer-spin-button,
.card-cvv__input::-webkit-inner-spin-button,
.card-cvv__input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
.card-number__inputs--item,
.card-number__inputs--item:focus {
  text-align: center;
  font-size: 16px;
  color: #333333;
}
/*card name*/
.payment-form__card-holder {
  padding-top: 13px;
}
.card-holder__field {
  width: 300px;
  height: 40px;
  border: 1px solid rgb(228, 233, 238);
  color: rgb(190, 198, 207);
  font-size: 16px;
  padding-left: 10px;
  text-transform: uppercase;
}




